@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  color: white;
}
#title {
  font-size: 300%;
  font-weight: bold;
  margin: 10px;
}

#content {
  overflow: auto;
  background-image: url(./obsidian.png);
  height: 100%;
  text-align: center;
  font-family: "Syne Mono", monospace;
  text-shadow: 2px 2px 2px rgb(255, 0, 255);
}
#homeContent {
  font-size: larger;
}
#navBar {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 10px;
}

#navBar button {
  padding: 10px 20px;
  font-size: large;
  background-color: blueviolet;
  border: none;
  border-radius: 4px;
}

#navBar button:hover {
  background-color: rgb(166, 81, 245);
}
