@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

#content {
  overflow: auto;
  background-image: url(./obsidian.png);
  height: 100%;
  text-align: center;
  font-family: "Syne Mono", monospace;
  color: white;
  text-shadow: 2px 2px 2px rgb(255, 0, 255);
}

#title {
  margin: 0;
  color: rgb(255, 255, 255);
}
